@font-face {
    font-family: 'Interstate-Regular';
    src: url('../fonts/Interstate-Regular.ttf')
}
:root {
    --primary-color: #4298b5;
    --secondary-color:  #64a70b;
    --gradient: linear-gradient(90deg, #4298b5 0%, #64a70b 100%);
    --gradient-vertical: linear-gradient(#4298b5 0%, #64a70b 100%);
    --color-grey:  #53565a;
    --color-black: #2d2926;
    --color-white: #ffffff;

    --color-cyan: #71c5e8;
    --color-cyan-40: rgba(113,197,232, 0.4);
    --color-green: #4a7729;
    --color-orange: #ed8b00;
    --color-red: #e1523d;
    /* Font familty: Interstate-Regular*/
}
.body {
    height: 100%;
}
.cg-gradient {
    background: var(--gradient) !important;
}
.cg-gradient-vertical {
    background: var(--gradient-vertical) !important;
}
.cg-balance{
    font-size: 1.5em;
    padding: auto !important;
}
.cg-nav {
    position: relative !important; 
    width: 100% !important;
    margin: 0 !important;
    background: var(--gradient) !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 4px var(--color-grey) !important;
    z-index: 1000;
}

.cg-nav .cg-nav-header{
    padding: 0 !important;
    margin: 0 !important;
}
.cg-nav .cg-nav-header::before {
    width: 0px !important;
}
.cg-nav .cg-nav-header a{
    height: 100% !important;
}
.cg-nav .cg-nav-logo{
    padding: 0px 0px !important;
    width: auto !important;
    height: 80px !important; /*50px*/
    margin: 35px 80px !important; /*23*/
}
.cg-nav .cg-nav-item {
    position: static !important;
    min-width: 50px !important;
    font-family: 'Interstate-Regular' !important;
    text-transform: uppercase !important;
    border-width: 0px !important; 
    padding: 15px 50px !important; 
}

.cg-timeleft {
    display: block;
    font-size: 3em;
    text-transform: uppercase;
    color: #fff;
    padding: 0px 20px;
    margin: auto 80px;
}