

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 80px auto;
    position: relative;
    left: 5%;
}

.board-row {
    width: 90% ;
}

.leadheader {
    width: 90%;
    height: 70px;
    background: rgba(54, 195, 105, 0.9);
    text-align: center;
    border-radius: 5px 5px 0 0;
}

    .leadheader h2 {
        margin: 0;
        color: #fefefe;
        padding-top: 20px;
    }

.colheader {
    background: rgba(254, 254, 254, 0.9);
    width: 90%;
    margin-left: 0;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 !important;
}


    .colheader h4 {
        text-align: center !important;
        font-size: 15px;
    }

    .colheader .alltime {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .colheader .recent {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fefefe;
    height: 5%;
    margin: 0 !important;
    text-align: center;
    width: 90%;
}

    .users .name {
        text-align: center;
    }

        .users .name a {
            padding-top: 15px;
            vertical-align: middle;
        }

    .users img {
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid rgba(0, 168, 232, 0.79);
        margin-right: 10px;
    }

    .users .rank {
        padding-left: 6px;
    }

    .users:nth-of-type(odd) {
        background: rgba(218, 245, 255, 0.9);
    }

    .users:nth-of-type(even) {
        background: rgba(254, 254, 254, 0.9);
    }

    .users:last-child {
        border-radius: 0 0 5px 5px;
    }

@media (max-width: 550px) {

    .container {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .container {
        padding: 0;
    }

    .colheader div[class^='col-xs'] {
        padding: 0;
    }

    .users {
        text-align: center;
    }

        .users img {
            display: block;
            float: none;
            margin: 0 auto;
            width: 35px;
            height: 35px;
        }

        .users .name {
            text-align: center;
        }

            .users .name a {
                display: block;
                padding-top: 4px;
            }
}
