body {
    padding: 0;
}
#podiumDiv {
    position: absolute;
    bottom: 30px;
    display: flex !important;
    flex: 1 100%;
    width: 100%;
}

.podium {
    height: 50vh;
    display: flex !important;
    align-items: flex-end !important;
    margin: 0!important;
}

.podium-step {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column;
    
}

.firstPlace {
    height: 100%;
   
    z-index: 9999;
}

.firstPlace .podium-trophy {
    color: gold;
    font-size: 256px !important;
}
.podium-trophy {
    position: absolute;
    bottom: 20px;
    box-shadow: 0 0 0 0 !important;
}
.secondPlace {
    height: 70%;
    z-index: 2;
}

.secondPlace .podium-trophy {
    color: silver;
    font-size: 160px !important;
}

.thirdPlace {
    height: 50%;
    z-index: 1;
}

.thirdPlace .podium-trophy {
    color: #cd7f32;
    font-size: 100px !important;
}

.event {
    height: 10vh !important;
}

.podium-user-info {
    flex: 1 100%;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: none !important;
    display: flex;
    flex-direction: column;
}

.podium-step-content {
    flex: 1 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .podium-step-content.first {
        background-color: var(--color-cyan);
        border-color: var(--color-cyan) !important;
    }
        .podium-step-content.first .podium-step-header-image {
            height: 120px;
        }
    .podium-step-content.second {
        background-color: #71c5e8e3;
        border-color: #71c5e8e3 !important;
    }
    .podium-step-content.third {
        background-color: #71c4e8cc;
        border-color: #71c4e8cc !important;
    }
.podium-step-header {
    position: absolute;
    height: 0px;
    top: 0px;
    width: 100%;
    padding: 0px;
}
.podium-step-header-info {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.podium-step-header-image {
    height: 80px;
}
.podium-step-header-image img {
    height: 100%;
}

.podium-step-header-info-name {
    margin: 0px;
    overflow: auto;
    clear: both;
    display: block;
    font-size: 48px;
    text-align: center;
    padding: 0px 0px;
}
.podium-step-header-info-points {
    
    margin: 0 auto;
    color: white;
    font-size: 64px;
    text-align: center;
    font-weight: bold;
}
    /*.podium-step-header {
    position: absolute;
    top: -86px;
    background-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    height: 10vh !important;
}

.podium-step-header-image {
    display: flex;
    align-items: center;
    flex: 1 17%;
    position: relative;
}

.podium-step-header-image img {
    max-width: 95% !important;
    align-self: center;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.podium-step-header-info {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

.podium-step-header-info div {
    flex: 1 100%;
    display: flex;
    align-items: center;
}

.podium-step-header-info-name {
    font-size: 32px;
}

.podium-step-header-info-points {
    flex: 1 35% !important;
    font-size: 2vh;
    text-align: center;
}*/
    .prizeHeader {
        text-align: center;
        margin: 0px;
        padding: 10px 0px;
        font-size: 48px;
        /*vertical-align: central;*/
        color: whitesmoke;
    }