body {
    padding: 0;
}

.podium {
    height: 50vh;
    display: flex !important;
    align-items: flex-end !important;
    margin: 0!important;
}

.podium-step {
    padding: 0 !important;
    display: flex !important;
    flex-direction: column;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid black !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firstPlace {
    height: 100%;
    background-color: rgba(66, 152, 181, 1);
    border-color: rgba(66, 152, 181, 1) !important;
    z-index: 9999;
}

.firstPlace .podium-trophy {
    color: gold;
    font-size: 13em !important;
}

.secondPlace {
    height: 70%;
    background-color: rgba(66, 152, 181, 0.95);
    border-color: rgba(66, 152, 181, 0.95) !important;
    z-index: -120;
}

.secondPlace .podium-trophy {
    color: silver;
    font-size: 8em !important;
}

.thirdPlace {
    background-color: rgba(66, 152, 181, 0.9);
    border-color: rgba(66, 152, 181, 0.9) !important;
    height: 50%;
    z-index: -9999;
}

.thirdPlace .podium-trophy {
    color: #cd7f32;
    font-size: 5em !important;
}

.event {
    height: 10vh !important;
}

.podium-user-info {
    flex: 1 100%;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: none !important;
    display: flex;
    flex-direction: column;
}

.podium-step-content {
    flex: 1 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.podium-step-header {
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    height: 10vh !important;
}

.podium-step-header-image {
    display: flex;
    align-items: center;
    flex: 1 17%;
    position: relative;
}

.podium-step-header-image img {
    max-width: 95% !important;
    align-self: center;
    height: auto;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
}

.podium-step-header-info {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
}

.podium-step-header-info div {
    flex: 1 100%;
    display: flex;
    align-items: center;
}

.podium-step-header-info-name {
    font-size: 4vh;
}

.podium-step-header-info-points {
    flex: 1 35% !important;
    font-size: 2vh;
}