.react-countdown-clock {
    margin-top: 30px;
}

.first-week-prize-row {
    height: 30vh;
}

.second-week-prize-row {
    height: 70vh;
}

.weekPrizeCard {
    height: 80%;
    width: 70% !important;
    position: relative;
    left: 15%;
    top: 10%;
}
.first-prize-card-row{
    height: 50%;
}
.second-prize-card-row {
    height: 50%;
}

.card-ribbon{
    width: 50%;
}