.react-countdown-clock {
    margin-top: 30px;
}

.first-week-prize-row {
    height: 30vh;
}

.second-week-prize-row {
    height: 70vh;
}

.weekPrizeCard {
    height: 85% !important;
    position: relative !important;
    left: 15%;
    top: 5%;
}

.singleWeekPrizeCard {
    height: 90% ;
    width: 80% !important;
    position: relative !important;
    left: 15%;
    top: 6%;
}

.first-prize-card-row{
    height: 50%;
}
.second-prize-card-row {
    height: 50%;
}

.card-ribbon{
    width: 50%;
}

