@font-face {
    font-family: 'Interstate-Regular';
    src: url('../Interstate-Regular.ttf')
}
:root {
    --primary-color: #4298b5;
    --secondary-color:  #64a70b;
    --gradient: linear-gradient(90deg, #4298b5 0%, #64a70b 100%);
    --gradient-vertical: linear-gradient(#4298b5 0%, #64a70b 100%);
    --color-grey:  #53565a;
    --color-black: #2d2926;
    --color-white: #ffffff;

    --color-cyan: #71c5e8;
    --color-cyan-40: rgba(113,197,232, 0.4);
    --color-green: #4a7729;
    --color-orange: #ed8b00;
    --color-red: #e1523d;
    /* Font familty: Interstate-Regular*/
}
body, p, h1, h2, h3, td, a{
     font-family: "Montserrat", sans-serif;
}
.cg-bold{
    font-weight: bold !important;
    text-transform: uppercase !important;
}
.cg-gradient {
    background: var(--gradient) !important;
}
.cg-gradient-vertical {
    background: var(--gradient-vertical) !important;
}
.cg-nav {
    position: relative !important; 
    /* height: 50px !important; */
    width: 100% !important;
    margin: 0 !important;
    background: linear-gradient(90deg, #4298b5 0%, #64a70b 100%) !important;
    border-radius: 0 !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5) !important;
    z-index: 50;
}

.cg-nav .cg-nav-header{
    height: 100% !important; 
    padding: 0 !important;
    margin: 0 !important;
    width: 200px !important;
}
.cg-nav .cg-nav-header a{
    height: 100% !important;
}
.cg-nav .cg-nav-logo{
    padding: 0px 0px !important;
    width: auto !important;
    height: 50px !important; 
    margin: 22px 25px !important;
}

.cg-nav .cg-nav-item {
    position: static !important;
    min-width: 50px !important;
    /* font-family: "Montserrat", sans-serif !important; */
    text-transform: uppercase !important;
    font-weight: bold !important;
    border-width: 0px !important; 
    padding: 15px 50px !important; 
}
.cg-nav-right {
    display: none;
    float: right;
    height: 95px;
}
.cg-nav .cg-mobile-item {
    position: relative;
    display: inline-block;
    padding: 30px 10px 22px;
}
.cg-nav .cg-mobile-item i{
    height: 100%;
}
.cg-user-info-menu {
    position: absolute;
    right: 0;
    width: 200px;
    color: black;
    background-color: white;
    border: 1px solid #e1e1e1;
    margin-top: 40px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.cg-user-menu-item {
    display: block;
    font-weight: normal;
    padding: 10px 10px;
    border-top: 1px solid #e1e1e1;
}
a.cg-user-menu-item{
    color: #64a70b;
}
a.cg-user-menu-item:hover{
    background-color: #f1f1f1;
}
.cg-mobile-menu {
    display: none;
    height: 100%;
   
}
.cg-page-header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 25px;
    background: url(../assets/OurSolutions.png) no-repeat scroll center 0px;
    background-size: cover;
}
.cg-page-header h1{
    display: inline-block;
    text-transform: uppercase !important;
    margin: 0px auto;
}
.cg-about-header {
    background: url(../assets/OurSolutions.png) no-repeat scroll right bottom;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
}
.cg-about-header-text{
    font-size: 3em;
    font-weight: arial;
    margin-bottom: 0;
}
.cg-about-p{
    text-align: justify;
}
.cg-title{
    padding-bottom: 15px;
    padding-top: 15px;
}
.cg-title h2{
    margin: 0 auto;
    display: block;
    font-family: 'Interstate-Regular', 'ProximaNova-Light','Franklin Gothic','Franklin Gothic','ITC Franklin Gothic',Arial,sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    color: #4298b5;
}

.cg-bg-success {
    background-color: #64a70b !important;
}

.cg-bg-danger {
    background-color: var(--color-red) !important;
}

.cg-button{
    text-transform: uppercase !important;
    width: 100%;
    border-radius: 0 !important;
    transition-duration: 0.4s;
}
.cg-button-buy {
    background-color: white !important;
    color: #71c5e8 !important;
    border: 2px solid #71c5e8 !important;
}
.cg-button-buy:hover {
    color: white !important;
    background-color: #71c5e8 !important;
}
.cg-button-qr {
    background-color: white !important;
    color: #64a70b !important;
    border: 2px solid #64a70b !important;
}
.cg-button-qr:hover {
    color: white !important;
    background-color: #64a70b !important;
}

.cg-button-get-started{
    margin: 25px auto 75px !important;

    background-color: transparent !important;
    color: var(--color-red) !important;
    border: 2px solid var(--color-red) !important;
}
.cg-button-get-started:hover {
    color: white !important;
    background-color: var(--color-red) !important;
}
.cg-button-submit {
    width: 100px;
    background-color: white !important;
    color: #71c5e8 !important;
    border: 2px solid #71c5e8 !important;
}
.cg-button-submit:hover {
    color: white !important;
    background-color: #71c5e8 !important;
}
/* .cg-card {
     box-shadow: 5px 5px 10px #e1e1e1 !important;  
} */
.cg-accordion .title{
    font-family: 'Interstate-Regular' !important;
    color: #4298b5 !important;
    font-size: 1.5em !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: #ffffff !important;
    transition-duration: 0.1s;
}
.cg-accordion .title:hover{
    background-color: #f8f8f8!important;
}

.cg-accordion .title.active{
    color: #64a70b !important;
    background-color: #f8f8f8 !important;
    /* border-bottom: 0px solid var(--color-grey) !important; */
    transition-duration: 0.0s;
}
.cg-accordion i.dropdown.icon {
    display: none !important;
}
.cg-accordion .content{
    overflow-y: scroll !important;
    max-height: 0px !important;
    display: block !important;
    padding: 0px !important;
    transition-duration: 0.5s;
    /* padding-top: 0px !important;
    padding-bottom: 0px !important; */
}
.cg-accordion .content.active{
    max-height: 500px !important;
}

.ui.table {
    font-family: 'Interstate-Regular' !important;
    border-radius: 0px !important;
    border-right-width: 0px;
    border-left-width: 0px;
}
.ui.table tr{
    padding: 0 !important;
}

.cg-editor{
    width: 100% !important;
    /* height: 100% !important; */
}

.cg-task-content table {
    border-style: solid;
    border-width: 1px;
    border-color: #d6d6d6;
    width: 100% !important;
}

.cg-task-content table tr {
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px; 
}
.cg-task-content table tr:first-child {
    border-color: #d6d6d6;
    border-bottom-width: 2px; 
}
.cg-task-content td {
    padding: 10px;
    width: auto !important;
}

.cg-language{
    /* padding-top: 10px; */
    padding-bottom: 20px;
}
.cg-language .cg-label{
    padding-bottom: 10px;
}
.cg-padding-submit {
    padding-top: 25px
}
.cg-task-submit {
    display: flex;
    justify-content: flex-start;
}
.cg-task-submit .cg-card-button{
    width: auto;
    min-width: 100px;
    margin-right: 10px;
}
.cg-modal-actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #e1e1e1;
    background-color: white; 
    padding: 15px;
}
.cg-modal-actions .cg-card-button {
    width: auto;
    min-width: 75px;
    
}
.cg-modal-header {
    color: #4298b5 !important;
}

@media screen and (max-width: 1200px) {
    .cg-nav {
        display: block !important;
    }
    .cg-nav .cg-nav-header{
        width: auto !important;
    }
    .cg-nav .cg-nav-item {
        padding: 15px 20px !important; 
    }
    
    .cg-responsive-hide {
        display: none !important;
    }
    .cg-mobile-menu {
        display: block;
    }
    .cg-nav-right {
        float: right;
        height: 95px;
        display: block;
    }
    .cg-login-mobile {
        width: 100%;
    }
}
@media only screen and (max-width: 546px){
    .cg-about-header-text {
        font-size: 2em !important;
    }
}