body{
    height: 100%;
}
.container {
    margin: 0 !important;
}
#react-app {
    height: inherit;
}

.login-modal {
    /* max-height: 200px !important;
    height: 200px !important; */
    height: 450px !important;
}

.right-menu {
    display: inherit;
}

.language-select {
    margin: 20px;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}
.solved {
    background-color: rgba(100,167,11,0.2);
}
.cg-help{
    position:relative;
}
.cg-help .cg-help-tooltip{
    position: absolute;
    color: white;
    bottom: 36px;
    left: -50%;
    padding: 10px;
    background-color: #505050;
    border: solid 1px #303030;
    border-radius: 5px;
    width: 200px;
    
    /* display: none; */
}
.cg-login-modal-button {
    padding: 15px;
}
.cg-about-p {
    font-size: 1.3em;
    padding: 0px 0px 15px;
}
.cg-row {
    display: flex;
    flex-wrap: wrap;
}
.cg-col {
    display: flex; 
    flex-grow: 1;
    flex-basis: 33%;
    min-width: 350px;
    padding: 10px;
}
.cg-row.last-not-grow .cg-col:last-child{
    flex-grow: 0;
}

.cg-card {
    background-color: #fff;
    position: relative;
    border: 1px solid #eeeeee;
    box-shadow: 3px 3px 5px #e1e1e1;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
    width: 100%;
}
    .cg-card .cg-title{
        display: flex;
        flex-grow: 1;
    }
    .cg-card .cg-card-image {
        position: relative;
        padding: 10px;
        height: 320px;
        overflow: hidden;
        border-bottom: 1px solid #e1e1e1;
    }

        .cg-card .cg-card-image img{
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: auto auto;
        }

.cg-card-content{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 10px; 
}
.cg-card-title {
    display: flex;
    flex: 1 1 auto; 
    overflow: hidden;
    padding: 0 5px;
}

.cg-card-actions {
    display: flex;
    flex-wrap: wrap;
}
.cg-card-actions .cg-action-item {
    padding: 5px;
    flex: 1 1 0;  
    /* width: 50%; */
}

.cg-card-button {
    padding: 5px;
    width: 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    transition-duration: 0.4s;
    color: #aaaaaa;
    background-color: white;
    border: 2px solid #aaaaaa;
}
.cg-modal-actions .cg-card-button{
    margin-left: 10px;
}
.cg-card-button:hover:not([disabled]){
    color: white;
    background-color: #aaaaaa;
}
.cg-card-button:disabled {
    opacity: 0.5;
}
.cg-card-button.cyan {
    color: #0033A0;
    border-color: #0033A0;
}
.cg-card-button.cyan:hover:not([disabled]) {
    color: white;
    background-color: #0033A0;
}

.cg-card-button.secondary {
    color: #00b140;
    border-color: #00b140;
}
.cg-card-button.secondary:hover:not([disabled]) {
    color: white;
    background-color: #00b140;
}
.cg-card-button.grey {
    color: #53565a;
    border-color: #53565a;
}
.cg-card-button.grey:hover:not([disabled]) {
    color: white;
    background-color: #53565a;
}
.cg-card-button.red {
    color: #e1523d;
    border-color: #e1523d;
}
.cg-card-button.red:hover:not([disabled]) {
    color: white;
    background-color: #e1523d;
}

.cg-card-label {
    z-index: 10;
    display: block;
    padding: 5px;
    height: 30px;
    color: #0033A0;
}

.cg-card-label .left{
    float: left;  
    font-size: 2em;
    padding: 5px;
    padding-top: 10px;
    text-transform: uppercase;
}

.cg-card-label .right{
    float: right;  
    padding-right: 5px;
}
.cg-card-stock {
    display: inline-block;
    position: absolute;
    color: #0033A0;
    bottom: 0;
    right: 0;
    padding: 5px;
    padding-right: 10px;
}
.cg-prize-quantity {
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}
.cg-prize-quantity-after{
    text-align: center;
    margin-top: -10px;
}
.cg-card-received {
    padding-top: 5px;
    text-align: center;
    font-size: 1.2em;
    color: #a1a1a1;
}

.cg-modal-image {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
}
/* .cg-modal-image:hover {
    box-shadow: 0px 0px 25px #d1d1d1;
    height: 450px;
} */

.cg-modal-image img{
    display: block;
    height: 100% !important;
    margin: 0 auto;
}
.cg-modal-content{
    overflow-y: scroll;
    height: calc(100% - 61px) !important;
}
.cg-modal-description {
    padding-bottom: 25px;
}
.cg-modal-description table{
    width: 100%;
}
.cg-modal-description tr{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.cg-modal-description tr td{
    padding: 5px 10px;
    text-align: left;
}
.cg-modal-description tr td:first-child {
    padding: 5px 20px 5px 10px;
    border-right: 1px solid #e1e1e1;
    height: 150% !important;
}

.description {
    text-align: center;
}

.cg-balance {
    position: absolute;
    width: 375px;
    right: 0;
    margin-top: 15px;
    font-size: 1.5em;
    overflow: hidden;
    background-color: white;
    border: 1px solid #e1e1e1;
    /* border-radius: 5px; */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    transition-duration: 0.4s;
    z-index: 51;
}

.cg-balance.cg-hidden {
    opacity: 0;
    visibility: hidden;
}
.cg-balance table{
    width: 100%;
}
.cg-balance tr{
    border-bottom: 1px solid #e1e1e1;
}
.cg-balance td{
    color: #0033a0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
}
.cg-balance td:last-child{
    padding-left: 0;
    text-align: right;
}

.dataForm{
    padding: 0% 25% 5% 25%;
    margin-bottom: 50px;
}

.questionAlign {
    padding: 5% 5% 0% 5%;
}

.questionAlign h2{
    text-align:justify !important;
}

.formInfo{
   color: slategray;
   margin-bottom: 5%;
   margin-top: 2%;
}

.star{
    color: slategray;
    margin-bottom: 5%;
    font-size: small;
}

.checkBox label{
    color: slategray !important;
}

.divider{
    width: 90%;
    margin-left: 5% !important;
}

.main-prize > img{
    width: 60% !important;
    margin-left: 25% !important;
}

.main-prize-prizes .cg-card .cg-card-content h2{
    display: flex;
    justify-content: center;
}

.loading-text {
    margin-top: 50px;
}

@media only screen and (max-width: 767px){
    .ui.container {
        width: auto !important; 
        margin-left: 0!important; 
        margin-right: 0!important;  
    }
     .cg-login-modal-button{
        padding: 15px;
    }
}

@media only screen and (max-width: 991px){

    .cg-row.last-not-grow .cg-col:last-child{
        width: 50%;
    }
}
@media only screen and (max-width: 546px){

    .cg-row.last-not-grow .cg-col:last-child{
        flex-grow: 1;
    }
}
@media only screen and (max-width: 400px){

    .cg-modal-image {
        width: 100%;
        height: auto;
    }
    .cg-modal-image img{
        height: auto;
        width: 100%;
    }
}






.leadheader {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: auto;
    background: rgba(66, 152, 181, 1); /*rgba(54, 195, 105, 0.9)*/
    text-align: center;
    /*border-radius: 5px 5px 0 0;*/
}

    .leadheader h2 {
        text-transform: uppercase;
        font-size: 64px;
        margin-top: 20px;
        padding: 0px 0;
        color: #fefefe;
    }

.task-points {
    text-align: center;
    margin-bottom: 15px;
}

.colHeader {
    overflow: hidden;
    background: rgba(254, 254, 254, 0.9);
    width: 100%;
    text-align: left;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    margin: 0 !important;
    padding-bottom: 10px !important;
}

    .colHeader column {
        padding: 0px !important;
    }
    .colHeader h4 {
        font-family: "Montserrat", sans-serif;
        color: #0033A0;
        text-align: center !important;
        font-size: 20px;
        text-transform: uppercase;
        padding: 0px;
    }

    .colHeader .alltime {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .colHeader .recent {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

.users {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fefefe;
    /*height: 5%;*/
    margin: 0 !important;
    text-align: center;
    width: 100%;
}
    .users .column {
        padding: 5px !important;
    }

    .users .name a {
        padding-top: 15px;
        vertical-align: middle;
    }
    
    .users span {
        font-family: "Montserrat", sans-serif;
        text-overflow: ellipsis;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
    }
    .users img {
        /*width: 64px;*/
        height: 5vh;
        border-radius: 50%;
        border: 2px solid rgba(0, 168, 232, 0.79);
        margin-right: 10px;
    }

    .users .rank {
        padding-left: 6px;
    }

    .users:nth-of-type(odd) {
        /* background: rgba(218, 245, 255, 0.9); */
        color: #0033a0;
    }

    .users:nth-of-type(even) {
        /* background: rgba(254, 254, 254, 0.9); */
        color: #00b140;
    }

    .users:last-child {
        border-radius: 0 0 5px 5px;
    }

@media (max-width: 550px) {

    .container {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .container {
        padding: 0;
    }

    .colheader div[class^='col-xs'] {
        padding: 0;
    }

    .users {
        text-align: center;
    }

        .users img {
            display: block;
            float: none;
            margin: 0 auto;
            width: 35px;
            height: 35px;
        }

        .users .name {
            text-align: center;
        }

            .users .name a {
                display: block;
                padding-top: 4px;
            }
}

.duel-how-to-container {
    display: flex;
    justify-content: space-between;
}

.duel-how-to .duel-how-to-icon {
    font-size: 12em;
    color: #e8e8e8;
    width: auto;
    height: auto;
    line-height: normal;
}

.duel-how-to:last-child .duel-how-to-icon {
    margin-right: 82px;
}

.duel-how-to .duel-how-to-text-container {
    position: relative;
    left: 90px;
    top: -73px;
}

.duel-how-to-title {
    color: #0033A0;
    font-size: 43px;
    text-transform: uppercase;
    font-weight: 600;
}

.duel-how-to-text {
    font-size: 22px;
    margin-top: 10px;
    padding-left: 5px;
}

@media (max-width: 950px) {
    .duel-how-to-container {
        flex-direction: column;
        align-items: center;
    }

    .duel-how-to .duel-how-to-icon {
        margin-right: 80px;
    }
}
.task-title-name {
    display: inline-block;
    width: 75%;
}
.task-title-right {
    display: inline-block;
    width: 25%;
}
.task-title-solved-number {
    float: right;
}
