body{
    height: 100%;
}
.container {
    margin: 0 !important;
}
#react-app {
    height: inherit;
}

.header-nav {
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: #A5D6A7;
}

.login-modal {
    height: 200px;
}

button.google, button.facebook {
    margin: 24px !important;
}

.right-menu {
    display: inherit;
}

.language-select {
    margin: 20px;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}